.work {
    height: 100vh;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    background-color: crimson;
}

.slider {
    height: 35vh;
    display: flex;
    position: absolute;
    left: 0vw;
    transition: all 1s ease-out;
}

.container {
    display: flex;
    justify-content: center;
    width: 100vw;
}

.item {
    width: 700px;
    height: 100%;
    background-color: #fff;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    display: flex;
}

.left-part {
    flex: 6;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgContainer {
    color: darkgoldenrod;
    height: 70px;
    background-color: greenyellow;
    border-radius: 50%;
}

.leftContainer {
    width: 90%;
    /* height: 70%; */
    display: flex;
}

.right-part {
    flex: 6;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    /* background-color: yellow; */
    border-radius: 0 30px 30px 0;
}

.right-img {
    height: 115%;
    transform: rotate(-9deg)
}

h2 {
    font-size: 20px;
}

p {
    font-size: 17px;
}

span {
    font-size: 15px;
    font-weight: 600;
    text-decoration: underline;
    cursor: pointer;
}

/* ---------------- ARROWS --------------- */

.arrow {
    /* position: absolute; */
    z-index: 1;
    height: 50px;
    cursor: pointer;
}

.left {
    flex: 6;
    left: 100px;
    /* transform: rotateY(180deg) */
}
.right{
    flex: 6;
    right: 100px;
    /* transform: rotateX(180deg) */
    background-repeat: red;
}